<div class="advantages">
  <div class="container">
    <h2 class="advantages__title title">Преимущества работы с нами</h2>
    <ul class="advantages__items">
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/advantages/advantages-1.svg" alt="">
        </div>
        <p class="advantages__text">
          Всегда широкий набор продуктов на основе гиалуроновой кислоты – мезококтейли, биоревитализанты,
          биорепаранты, липолитики, филлеры. В каталоге представлены такие бренды, как: Surgiderm, Princess,
          Pluryal, Juvederm, Yvoire, Aquashine, Dermaren, Meso, Teosyal и многие другие.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/advantages/advantages-2.svg" alt="">
        </div>
        <p class="advantages__text">
          Оперативная и надежная доставка - получить купленные препараты в Москве можно непосредственно в день
          заказа. Доставка в другие города и по СНГ занимает от 1 до 5 дней, отследить движение заказа можно по
          накладной на сайте транспортной компании.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/advantages/advantages-3.svg" alt="">
        </div>
        <p class="advantages__text">
          Высокое качество препаратов – мы предлагаем только сертифицированную продукцию гапрямую от ведущих
          мировых производителей и официальных поставщиков, что исключает возможность приобретения
          некачественной или поддельной продукции.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/advantages/advantages-4.svg" alt="">
        </div>
        <p class="advantages__text">
          Действительно низкие цены. Розничные покупатели могут приобрести препараты для контурной пластики по
          оптовым ценам. А оптовым покупателям предлагаем существенные скидки от первоначальной стоимости.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/advantages/advantages-5.svg" alt="">
        </div>
        <p class="advantages__text">
          Работаем со всеми регионами. Находясь в Екатеринбурге, Краснодаре или Питере, Вы можете купить филлеры
          в Москве по оптовым ценам без посредников и переплат.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/advantages/advantages-6.svg" alt="">
        </div>
        <p class="advantages__text">
          Вся продукция на складе - что значительно сокращает срок получения заказа. Отгрузка осуществляется в
          день оплаты без каких-либо задержек.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/advantages/advantages-7.svg" alt="">
        </div>
        <p class="advantages__text">
          Сопутствующие препараты и расходные материалы – анестезирующие средства, канюли и иглы, мезонити,
          крема, патчи и другие косметологические препараты.
        </p>
      </li>
    </ul>
  </div>
</div>
