<div class="products">
  <div class="products__left">
    <div class="products__menu left-menu">
      <div class="left-menu__box">
        <h2 class="left-menu__title">Филлеры</h2>
        <ul class="left-menu__items">
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Aquashine</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">BioRepeel</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Caregen</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Celosome</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Dermaheal</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Dermalax</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Dermaren</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Desirial</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Femegyl</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Filorga</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Hyaron</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">ID Farma</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Juvederm</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Kiara Reju</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Medic ControlPeel</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Meline</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Meso</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Neauvia Organic</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Neuramis</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Nithya</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Novacutan</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Outline Gel</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Princess</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Prostrolane</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">QT Fill</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Regenovue</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Rejeunesse</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Replengen</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Revi</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Revolax</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Sardenya</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Skinasil</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">SYNIRO</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Teosyal</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Tesoro</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">TwAc</a>
          </li>
        </ul>
        <a class="stock" href="#">
          <svg class='stock__svg'>
            <use xlink:href='img/sprite.svg#percent'>
          </svg>
          <div class="stock__text">
            Только акционные товары
          </div>
        </a>
      </div>
      <div class="left-menu__box">
        <h2 class="left-menu__title">Мезонити</h2>
        <ul class="left-menu__items">
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">V-up Thread</a>
          </li>
        </ul>
      </div>
      <div class="left-menu__box">
        <h2 class="left-menu__title">Канюли и иглы</h2>
        <ul class="left-menu__items">
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Иглы</a>
          </li>
          <li class="left-menu__item">
            <a class="left-menu__link" href="#">Канюли</a>
          </li>
        </ul>
        </d>
      </div>
    </div>
  </div>
  <div class="products__right">
    <div class="products__block">
      <div class="prompt">
        <h2 class="prompt__title">
          Добро пожаловать в интернет-магазин филлеров COSMETTRADE.RU!
        </h2>
        <p class="prompt__text">
          Наша специализация – продажа филлеров на основе гиалуроновой кислоты, препаратов
          для мезотерапии и контурной пластики от ведущих европейских и азиатских производителей.
        </p>
      </div>
      <div class="head">
        <h2 class="head__title">Акции</h2>
        <a class="head__link" href="actions.html">
          Просмотреть все
          <svg>
            <use xlink:href='img/sprite.svg#right-arrow'>
          </svg>
        </a>
      </div>
      <ul class="card">
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-1.png" alt="">
              <div class="card__action blue">Выгодно</div>
            </div>
            <a class="card__title" href="#">
              Revofil Aquashine, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>3.000 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>2.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-2.png" alt="">
              <div class="card__action orange">Хит</div>
            </div>
            <a class="card__title" href="#">
              Neuramis Light Lidocaine
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.900 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-3.png" alt="">
              <div class="card__action green">Новинка</div>
            </div>
            <a class="card__title" href="#">
              Tesoro Deep
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-4.png" alt="">
            </div>
            <a class="card__title" href="#">
              Dermaheal HL
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>480 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-5.png" alt="">
              <div class="card__action orange">Хит</div>
            </div>
            <a class="card__title" href="#">
              HyaFilia Classic Plus
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-6.png" alt="">
              <div class="card__action blue">Выгодно</div>
            </div>
            <a class="card__title" href="#">
              Hyaron, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>500 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="products__block">
      <div class="head popular">
        <h2 class="head__title">Популярные товары</h2>
        <a class="head__link" href="price.html">
          Просмотреть все
          <svg>
            <use xlink:href='img/sprite.svg#right-arrow'>
          </svg>
        </a>
      </div>
      <ul class="card">
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-1.png" alt="">
              <div class="card__action blue">Выгодно</div>
            </div>
            <a class="card__title" href="#">
              Revofil Aquashine, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>3.000 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>2.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-2.png" alt="">
              <div class="card__action orange">Хит</div>
            </div>
            <a class="card__title" href="#">
              Neuramis Light Lidocaine
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.900 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-3.png" alt="">
              <div class="card__action green">Новинка</div>
            </div>
            <a class="card__title" href="#">
              Tesoro Deep
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-4.png" alt="">
            </div>
            <a class="card__title" href="#">
              Dermaheal HL
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>480 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-5.png" alt="">
              <div class="card__action orange">Хит</div>
            </div>
            <a class="card__title" href="#">
              HyaFilia Classic Plus
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
        <li class="card__item">
          <div class="card__link">
            <div class="card__img">
              <img src="img/products/product-6.png" alt="">
              <div class="card__action blue">Выгодно</div>
            </div>
            <a class="card__title" href="#">
              Hyaron, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>500 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
