.advantages {
  background: linear-gradient(
    180deg,
    #fafafa 0%,
    rgba(247, 247, 247, 0) 48.63%
  );
  margin-bottom: 120px;
  padding-top: 60px;
  @media (max-width: 992px) {
    margin-bottom: 70px;
    padding-top: 50px;
  }
  @media (max-width: 870px) {
    padding-top: 40px;
    margin-bottom: 55px;
  }

  // .advantages__title

  &__title {
    text-align: center;
  }

  // .advantages__items

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 90px;
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      gap: 30px;
      margin-top: 50px;
    }
    @media (max-width: 870px) {
      margin-top: 40px;
    }
    @media (max-width: 480px) {
      margin-top: 30px;
    }
  }

  // .advantages__item

  &__item {
    @media (min-width: 481px) {
      display: flex;
    }
    @media (max-width: 480px) {
      text-align: center;
    }
  }
  // .advantages__img

  &__img {
    flex: 0 0 64px;
    @media (min-width: 481px) {
      margin-right: 30px;
    }
    @media (max-width: 480px) {
      margin-bottom: 20px;
    }
  }

  // .advantages__text

  &__text {
    margin: 0;
    color: #4e4b4b;
  }
}
