.counter {
  display: flex;
  // .counter__btn

  &__btn {
    cursor: pointer;
    border: none;
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    position: relative;
    background: #f0f0f0;
    border-radius: 4px;
    transition: background 0.15s ease-in-out;
    &:hover {
      background: darken(#f0f0f0, 4);
    }
    &:active {
      background: darken(#f0f0f0, 8);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 2px;
    }
    &_minus {
      &::before {
        background: #750e60;
        border-radius: 30px;
      }
    }
    &_plus {
      &::before,
      &::after {
        background: #de3c4f;
        border-radius: 30px;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  // .counter__summ

  &__summ {
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 7px;
    max-width: 36px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #252020;
    font-family: inherit;
    margin: 0 5px;
    &::placeholder {
      font-family: inherit;
      color: inherit;
      font-size: inherit;
    }
  }
}
