<div class="tables">
  <h1 class="title">Прайс-лист закрытый</h1>
  <div class="table">
    <h2 class="table__title decorate-title">Aquashine</h2>
    <ul class="table__items">
      <li class="table__item">
        <div class="table__name">Aquashine</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Aquashine BR</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Aquashine BTX</div>
        <div class="table__price">3.000 ₽</div>
      </li>
    </ul>
  </div>
  <div class="table">
    <h2 class="table__title decorate-title">Dermaheal</h2>
    <ul class="table__items">
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Eye bag solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal HL</div>
        <div class="table__price">3.000 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Dermaheal Eye bag solution</div>
        <div class="table__price">3.000 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Dermaheal HL</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Eye bag solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">3.000 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Dermaheal Eye bag solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Dermaheal HL</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal HL</div>
        <div class="table__price">3.000 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Eye bag solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal HL</div>
        <div class="table__price">3.000 ₽</div>
      </li>
    </ul>
  </div>
  <div class="table">
    <h2 class="table__title decorate-title">Aquashine</h2>
    <ul class="table__items">
      <li class="table__item">
        <div class="table__name">Aquashine</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Aquashine BR</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Aquashine BTX</div>
        <div class="table__price">3.000 ₽</div>
      </li>
    </ul>
  </div>
  <div class="table">
    <h2 class="table__title decorate-title">Dermaheal</h2>
    <ul class="table__items">
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Eye bag solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal HL</div>
        <div class="table__price">3.000 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Dermaheal Eye bag solution</div>
        <div class="table__price">3.000 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Dermaheal HL</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Eye bag solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">3.000 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Dermaheal Eye bag solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name"> Dermaheal HL</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal HL</div>
        <div class="table__price">3.000 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Dark Circle solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal Eye bag solution</div>
        <div class="table__price">2.600 ₽</div>
      </li>
      <li class="table__item">
        <div class="table__name">Dermaheal HL</div>
        <div class="table__price">3.000 ₽</div>
      </li>
    </ul>
  </div>
</div>
