<header class="header header-desctop">
  <div class="header__top">
    <div class="header__container container">
      <div class="header__btns">
        <button class="header__btn header__menu" type="button" aria-label="Открыть боковое меню">
          <span></span>
        </button>
        <a class="header__btn header__catalog" href="price.html">
          <img class="header__icon" src="img/icons/header-catalog.svg" alt="">
        </a>
      </div>
      <a href="#" class="header__logo" data-da=".header,580,first">
        <img src="img/logo.svg" alt="">
      </a>
      <div class="header__prompt">
        <img src="img/icons/persent-icon.svg" alt="">
        <p>Скидки на партии препаратов от 3 коробок!</p>
      </div>
      <div class="header__numbers" data-da=".header__bottom,900,last">
        <div class="header__number">
          <span>Для звонков</span>
          <a class="header__phone" href="tel:+74956445547">+ 7 (495) 644-55-47</a>
        </div>
        <div class="header__number">
          <span>Для звонков/мессенджеров</span>
          <a class="header__phone" href="tel:+74956445547">+ 7 (495) 644-55-47</a>
        </div>
      </div>
      @include('../../socials.html')
      <div class="header__btns">
        <button class="header__btn header__basket" type="button" aria-level="Открыть корзину">
          <img class="header__icon" src="img/icons/header-cart.svg" alt="">
          <div class="header__basket-number basket__number">5</div>
        </button>
        <a class="header__btn header__call" href="tel:+74956445547" aria-level="Позвонить">
          <img class="header__icon" src="img/icons/header-call.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__li"><a href="actions.html" class="header__link">Акции</a></li>
          <li class="header__li"><a href="price.html" class="header__link">Прайс-лист</a></li>
          <li class="header__li"><a href="close-price.html" class="header__link">Прайс-лист закрытый</a></li>
          <li class="header__li"><a href="delivery.html" class="header__link">Доставка</a></li>
          <li class="header__li"><a href="order.html" class="header__link active">Заказать</a></li>
          <li class="header__li"><a href="consultation.html" class="header__link">Услуги косметолога</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
