<div class="actions">
  <h1 class="actions__title title">Акции</h1>
  <div class="actions__block">
    <ul class="card action-grid left">
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-1.png" alt="">
            <div class="card__action blue">Выгодно</div>
          </div>
          <div class="card__content">
            <a class="card__title" href="#">
              Revofil Aquashine, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>3.000 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>2.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-2.png" alt="">
            <div class="card__action orange">Хит</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Neuramis Light Lidocaine
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.900 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-3.png" alt="">
            <div class="card__action green">Новинка</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Tesoro Deep
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-4.png" alt="">
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Dermaheal HL
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>480 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-5.png" alt="">
            <div class="card__action orange">Хит</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              HyaFilia Classic Plus
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-6.png" alt="">
            <div class="card__action blue">Выгодно</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Hyaron, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>500 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-1.png" alt="">
            <div class="card__action blue">Выгодно</div>
          </div>
          <div class="card__content">
            <a class="card__title" href="#">
              Revofil Aquashine, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Обычная цена препарата: <span>3.000 ₽</span>
              </div>
              <div class="card__price">
                При покупке от 3 штук цена: <span>2.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-2.png" alt="">
            <div class="card__action orange">Хит</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Neuramis Light Lidocaine
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.900 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-3.png" alt="">
            <div class="card__action green">Новинка</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Tesoro Deep
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-4.png" alt="">
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Dermaheal HL
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>480 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-5.png" alt="">
            <div class="card__action orange">Хит</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              HyaFilia Classic Plus
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-6.png" alt="">
            <div class="card__action blue">Выгодно</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Hyaron, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>500 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-1.png" alt="">
            <div class="card__action blue">Выгодно</div>
          </div>
          <div class="card__content">
            <a class="card__title" href="#">
              Revofil Aquashine, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Обычная цена препарата: <span>3.000 ₽</span>
              </div>
              <div class="card__price">
                При покупке от 3 штук цена: <span>2.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-2.png" alt="">
            <div class="card__action orange">Хит</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Neuramis Light Lidocaine
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.900 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-3.png" alt="">
            <div class="card__action green">Новинка</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Tesoro Deep
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-4.png" alt="">
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Dermaheal HL
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>480 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-5.png" alt="">
            <div class="card__action orange">Хит</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              HyaFilia Classic Plus
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-6.png" alt="">
            <div class="card__action blue">Выгодно</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Hyaron, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>500 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-1.png" alt="">
            <div class="card__action blue">Выгодно</div>
          </div>
          <div class="card__content">
            <a class="card__title" href="#">
              Revofil Aquashine, 1.1ml
            </a>
            <div class="card__prices">
              <div class="card__price">
                Обычная цена препарата: <span>3.000 ₽</span>
              </div>
              <div class="card__price">
                При покупке от 3 штук цена: <span>2.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-2.png" alt="">
            <div class="card__action orange">Хит</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Neuramis Light Lidocaine
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.900 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.800 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-3.png" alt="">
            <div class="card__action green">Новинка</div>
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Tesoro Deep
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>1.700 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>1.600 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
      <li class="card__item">
        <div class="card__link">
          <div class="card__img">
            <img src="img/products/product-4.png" alt="">
          </div>
          <div class="card__content">

            <a class="card__title" href="#">
              Dermaheal HL
            </a>
            <div class="card__prices">
              <div class="card__price">
                Цена: <span>550 ₽</span>
              </div>
              <div class="card__price">
                От 3 штук цена: <span>480 ₽</span>
              </div>
            </div>
            <button class="btn btn_pink btn_cart" type="button" aria-label="Добавить товар в корзину">
              В корзину
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="actions__btn">
    <button class="btn btn_transparent" type="button" aria-label="Показать больше продуктов">
      <svg>
        <use xlink:href='img/sprite.svg#three-dots'>
      </svg>
      <span>Показать еще</span>
    </button>
  </div>
</div>
