<div class="basket__menu">
  <div class="basket__scroll">
    <div class="basket__title">Торов в корзине: 12</div>
    <div class="basket__wrap">
      <ul class="basket__items">
        <li class="basket__item">
          <div class="basket__top">
            <div class="basket__img">
              <img src="img/products/product-1.png" alt="">
            </div>
            <div class="basket__name">Revofil Aquashine</div>
          </div>
          <div class="basket__bottom">
            @include('counter.html')
            <div class="basket__price">3.000 ₽</div>
          </div>
        </li>
        <li class="basket__item">
          <div class="basket__top">
            <div class="basket__img">
              <img src="img/products/product-1.png" alt="">
            </div>
            <div class="basket__name">Revofil Aquashine</div>
          </div>
          <div class="basket__bottom">
            @include('counter.html')
            <div class="basket__price">3.000 ₽</div>
          </div>
        </li>
        <li class="basket__item">
          <div class="basket__top">
            <div class="basket__img">
              <img src="img/products/product-1.png" alt="">
            </div>
            <div class="basket__name">Revofil Aquashine</div>
          </div>
          <div class="basket__bottom">
            @include('counter.html')
            <div class="basket__price">3.000 ₽</div>
          </div>
        </li>
        <li class="basket__item">
          <div class="basket__top">
            <div class="basket__img">
              <img src="img/products/product-1.png" alt="">
            </div>
            <div class="basket__name">Revofil Aquashine</div>
          </div>
          <div class="basket__bottom">
            @include('counter.html')
            <div class="basket__price">3.000 ₽</div>
          </div>
        </li>
        <li class="basket__item">
          <div class="basket__top">
            <div class="basket__img">
              <img src="img/products/product-1.png" alt="">
            </div>
            <div class="basket__name">Revofil Aquashine</div>
          </div>
          <div class="basket__bottom">
            @include('counter.html')
            <div class="basket__price">3.000 ₽</div>
          </div>
        </li>
      </ul>
    </div>
    <a class="basket__add btn btn_green" href="#">
      <img src="img/icons/whatsapp.svg" alt="">
      Заказать
    </a>
  </div>
</div>
