<footer class="footer">
  <div class="footer__top">
    <div class="footer__container container">
      <div class="footer__box">
        <a class="footer__logo" href="#">
          <img src="img/white-logo.svg" alt="Логотип Косметтрейд">
        </a>
        <div class="footer__copyright">
          2016 - <span class="actual-year"></span> © "Cosmettrade.ru"
        </div>
      </div>
      <div class="footer__box schedule">
        <div class="schedule__wrap ">
          <div class="schedule__icon">
            <img src="img/footer/clock.svg" alt="">
          </div>
          <div class="schedule__content">
            <p>График работы</p>
            <p>Пн.-Вс.: с 10:00 до 22:00</p>
          </div>
        </div>
      </div>
      <div class="footer__box phones">
        <div class="footer__numbers">
          <div class="footer__number">
            <p>Для звонков</p>
            <a href="tel:+74956445547"> + 7 (495) 644-55-47</a>
          </div>
          <div class="footer__number">
            <p>Для звонков/мессенджеров</p>
            <a href="tel:+79856445547"> + 7 (985) 644-55-47</a>
          </div>
        </div>
      </div>
      <div class="footer__box">
        @include('socials.html')
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container container">
      <div class="footer__attention">
        Имеются противопоказания, перед использованием препаратов необходимо проконсультироваться со специалистом!
      </div>
      <div class="footer__developer">
        Разработка сайта <a href="https://seo-zharkov.ru/" target="_blank">Zharkov SEO</a>
      </div>
    </div>
  </div>
</footer>
